@model IEnumerable<Bounds.Models.b_Cus_Report_Show>
@{
    ViewBag.Title = "Customer_Report";
}

<div class="left container-padding">
    @using (Html.BeginForm("Customer_Report", "b_Cus_Report", FormMethod.Get))
    {
        <p>时间段: @Html.TextBox("StartTime", "", new { @class = "form-control inline short_txt", @placeholder = "2000-01" })--@Html.TextBox("EndTime", "", new { @class = "form-control inline short_txt", @placeholder = "2000-02" }) <input type="submit" value="确定" class="btn btn-success" /></p>
    }
</div>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.ID)</th>
        <th>@Html.DisplayNameFor(model => model.UserName)</th>
        <th>@Html.DisplayNameFor(model => model.PointValue)</th>
        <th>@Html.DisplayNameFor(model => model.FixedValue)</th>
        <th>@Html.DisplayNameFor(model => model.PrizeValue)</th>
        <th>@Html.DisplayNameFor(model => model.WorkAgeValue)</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FixedValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrizeValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkAgeValue)
            </td>
        </tr>
    }
</table>

