@model Bounds.Models.b_Task_Info

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>b_Task_Info</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.b_Task_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.b_Task_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.b_Task_Limit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.b_Task_Limit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.b_Task_Cycle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.b_Task_Cycle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.b_UnComplete_Dec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.b_UnComplete_Dec)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Create_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Create_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Update_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Update_Time)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
