@model IEnumerable<Bounds.Models.b_Reward>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.b_Reward_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.b_Reward_A)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.b_Reward_B)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.b_Reward_Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.b_Enterprise_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Updated_Time)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.b_Reward_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.b_Reward_A)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.b_Reward_B)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.b_Reward_Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.b_Enterprise_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Updated_Time)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
