@model IEnumerable<Bounds.Models.b_Reward>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("新建奖扣权限", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.b_Reward_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.b_Reward_A)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.b_Reward_B)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.b_Reward_Value)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.b_Reward_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.b_Reward_A)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.b_Reward_B)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.b_Reward_Value)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.ID }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.ID }) |*@
            @Html.ActionLink("删除", "DeleteConfirmed", new { id=item.ID }, new { onclick = "return confirm('确定删除此项？')" })
        </td>
    </tr>
}

</table>
