<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 功分系统</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @*@Styles.Render("~/Content/login")
    @Scripts.Render("~/bundles/login")*@

</head>
<body>
    <div class="kvBox">
        <b class="cloud"></b>
        <div class="container body-content">
            @RenderBody()
            <footer>
                @*<p>&copy; @DateTime.Now.Year - 我的 ASP.NET 应用程序</p>*@
            </footer>
        </div>
    </div>
</body>
</html>
