@model IEnumerable<Bounds.Models.b_Organize>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.b_PID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.b_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.b_First_User_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.b_Final_User_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.b_PID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.b_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.b_First_User_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.b_Final_User_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

