@model IEnumerable<Bounds.Models.b_User>

<div class="padding-bottom right">
    <button type="button" class="btn btn-success" onclick="User.AddNew();">新增人员</button>
    <button type="button" class="btn btn-primary" onclick="User.Edit();">人员编辑</button>
    <button type="button" class="btn btn-danger" onclick="User.Delete();">删除</button>
</div>

    <table class="table table-striped table-hover" style="padding: 10px 0px 10px 0px">
        <tr>
            <th>
                <input type="checkbox" id="chkAll" name="checkall" onclick="User.CheckAll()" />
            </th>
            <th>
                @Html.DisplayNameFor(model => model.b_UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.b_RealName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.b_Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.b_WorkNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.b_Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.b_PhoneNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.b_Depart_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.b_EntryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.b_Role_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.b_Reward_Auth_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.b_Ranking)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" name="check_item" value="@item.ID" onclick="User.ItemCheck(this);" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.b_UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.b_RealName)
                </td>
                @if (item.b_Sex == "0")
                {
                    <td>男</td>
                }
                else
                {
                    <td>女</td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.b_WorkNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.b_Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.b_PhoneNum)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.b_Depart_ID)*@
                    @if (!String.IsNullOrEmpty(item.b_Depart_ID))
                {
                    var depart_name = string.Empty;
                    foreach (var depart_id in item.b_Depart_ID.Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries))
                    {
                        foreach (var depart in ViewBag.Model)
                        {
                            if (Convert.ToInt16(depart_id) == depart.ID)
                            {
                                depart_name += depart.b_Name + " ";
                                break;
                            }
                        }
                    }
                    @depart_name
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.b_EntryDate)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.b_Role_ID)*@
                    @if (!String.IsNullOrEmpty(item.b_Role_ID))
                    {
                        var role_name = string.Empty;
                        foreach (var role_id in item.b_Role_ID.Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries))
                        {
                            foreach (var role in ViewBag.Role)
                            {
                                if (Convert.ToInt16(role_id) == role.ID)
                                {
                                    role_name += role.b_Role_Name + " ";
                                    break;
                                }
                            }
                        }
                        @role_name
                    }
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.b_Reward_Auth_ID)*@
                    @if (!String.IsNullOrEmpty(item.b_Reward_Auth_ID))
                {
                    var reward = string.Empty;
                    foreach (var auth in ViewBag.Reward_Auth)
                    {
                        if (Convert.ToInt16(item.b_Reward_Auth_ID) == auth.ID)
                        {
                            reward = auth.b_Reward_Name;
                        }
                    }
                    @reward
                    }
                </td>
                @if (item.b_Ranking == "0")
                {
                    <td>否</td>
                }
                else
                {
                    <td>是</td>
                }
            </tr>
        }

    </table>