@model IEnumerable<Bounds.Models.b_Role_Show>

<div>
    <h5>@Html.ActionLink("新建角色", "Create")</h5>
</div>
@Html.Partial("../b_User/SelUser")
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.b_Role_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.b_Role_Description)
        </th>
        <th>
            数量
        </th>
        <th>操作</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.b_Role_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.b_Role_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.b_Member_Count)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.ID }) |
            <a href="#" onclick="Auth.BindMember(@item.ID)">成员绑定</a> |
            @Html.ActionLink("删除", "DeleteConfirmed", new { id=item.ID }, new { onclick = "return confirm('确定删除此项？')" })
        </td>
    </tr>
}

</table>
