@model Bounds.Models.b_Point

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>b_Point</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.b_Event_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.b_Event_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.b_Record_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.b_Record_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.b_Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.b_Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.b_Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.b_Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.b_First_Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.b_First_Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.b_Final_Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.b_Final_Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.b_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.b_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.b_Enterprise)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.b_Enterprise)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Create_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Create_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Update_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Update_Time)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
