@model PagedList.IPagedList<Bounds.Models.b_Point_Record>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

@{ Html.RenderPartial("Query"); }
@if (Session["Author"] != null && (Session["Author"] as int[]).Contains(50))
{
<p>
    <h5>@Html.ActionLink("添加奖罚", "Create")</h5>
</p>
}
<table class="table">
    <tr>
        <th>
            事件时间
        </th>
        <th>
            记录时间
        </th>
        <th>
            主题
        </th>
        <th>
            备注
        </th>
        <th>
            初审人
        </th>
        <th>
            终审人
        </th>
        <th>
            状态
        </th>
        <th>
            记录人
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.b_Event_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.b_Record_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.b_Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.b_Note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.b_First_Check_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.b_Final_Check_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.b_Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.b_Recorder_Name)
        </td>
        <td>
            @*@Html.ActionLink("编辑", "PointEdit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |*@
            @Html.ActionLink("删除", "DeleteConfirmed", new { id=item.ID }, new { onclick = "return confirm('确定删除此项？')" })
        </td>
    </tr>
}

</table>

<br />
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, txt_subject=ViewBag.Subject, txt_first_check=ViewBag.FirstCheck, txt_final_check=ViewBag.FinalCheck, selStatus=ViewBag.selStatus, txt_Prize_Start=ViewBag.PrizeStart, txt_Prize_Stop=ViewBag.PrizeStop, txt_Record_Start=ViewBag.RecordStart, txt_Record_Stop=ViewBag.RecordStop }))