@model PagedList.IPagedList<Bounds.Models.b_Point_Details_ShowInfo>
@using PagedList.Mvc;

@{
    ViewBag.Title = "My_Detail";
}
<h5>个人明细查询</h5>
<table class="table">
    <tr>
        <th>
            功分类型
        </th>
        <th>
            功分值
        </th>
        <th>
            事件
        </th>
        <th>
            事件描述
        </th>
        <th>
            事件时间
        </th>
        <th>
            生成时间
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.b_Point_Type_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.b_Point_Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.b_Event_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.b_Event_Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event_Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Create_Time)
            </td>
        </tr>
    }

</table>
<br />
@Html.PagedListPager(Model, page => Url.Action("My_Detail", new { page }))