@model IEnumerable<Bounds.Models.Point_Check_Model>
@{
    ViewBag.Title = "Point_Check";
}
<h5>功分核查</h5>
<table class="table">
    <tr>
        <th>奖扣对象</th>
        <th>奖扣时间</th>
        <th>记录时间</th>
        <th>主题</th>
        <th>事件</th>
        <th>A分</th>
        <th>B分</th>
        <th>产值</th>
        <th>初审人</th>
        <th>终审人</th>
        <th>记录人</th>
        <th>审核状态</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.b_Point_Object</td>
            <td>@item.b_Event_Date</td>
            <td>@item.b_Record_Time</td>
            <td>@item.b_Subject</td>
            <td>@item.b_Event_Name</td>
            <td>@item.b_A_Point</td>
            <td>@item.b_B_Point</td>
            <td>@item.b_Value_Point</td>
            <td>@item.b_First_Check_Name</td>
            <td>@item.b_Final_Check_Name</td>
            <td>@item.b_Recorder_Name</td>
            <td>@item.b_Status</td>
        </tr>
    }
</table>

