@model Bounds.Models.b_Event_Library

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <div>
            <h5>@Html.ActionLink("返回", "Index")</h5>
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.b_Event_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.b_Event_Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.b_Event_Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.b_A_Start, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.b_A_Start, new { htmlAttributes = new { @class = "form-control short_txt inline" } })
                -
                @Html.EditorFor(model => model.b_A_Stop, new { htmlAttributes = new { @class = "form-control short_txt inline" } })
                @Html.ValidationMessageFor(model => model.b_A_Stop, "", new { @class = "text-danger" })
                @Html.ValidationMessageFor(model => model.b_A_Start, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.b_B_Start, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.b_B_Start, new { htmlAttributes = new { @class = "form-control short_txt inline" } })
                -
                @Html.EditorFor(model => model.b_B_Stop, new { htmlAttributes = new { @class = "form-control short_txt inline" } })
                @Html.ValidationMessageFor(model => model.b_B_Stop, "", new { @class = "text-danger" })
                @Html.ValidationMessageFor(model => model.b_B_Start, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group hidden">
            @Html.LabelFor(model => model.b_Value_Start, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.b_Value_Start, new { htmlAttributes = new { @class = "form-control short_txt inline" } })
                -
                @Html.EditorFor(model => model.b_Value_Stop, new { htmlAttributes = new { @class = "form-control short_txt inline" } })
                @Html.ValidationMessageFor(model => model.b_Value_Stop, "", new { @class = "text-danger" })
                @Html.ValidationMessageFor(model => model.b_Value_Start, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group hidden">
            @Html.LabelFor(model => model.b_PricePaper_Event, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @foreach (SelectListItem item in ViewBag.RadioList)
                {
                    @Html.RadioButton("b_PricePaper_Event", item.Value, item.Selected)
                    @Html.Label(item.Text, new { @class = "form-text-nomal padding-right" })
                }
            </div>
        </div>

        <div class="form-group hidden">
            @Html.LabelFor(model => model.b_Enterprise, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.b_Enterprise, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.b_Enterprise, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group hidden">
            @Html.LabelFor(model => model.Create_Time, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Create_Time, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Create_Time, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group hidden">
            @Html.LabelFor(model => model.Update_Time, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Update_Time, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Update_Time, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="保存" class="btn btn-default" />
            </div>
        </div>
    </div>
}
