<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>功分管理系统</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("功分管理系统", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div>
                <ul class="nav navbar-nav">
                    @*<li class="dropdown">
                        @Html.ActionLink("组织机构", "Index", "b_Organize")
                    </li>*@
                    <li class="dropdown">
                        @Html.ActionLink("用户管理", "Index", "b_User")
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            功分配置<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("工龄分配置", "Index", "b_WorkAge")</li>
                            <li>@Html.ActionLink("启动分配置", "Index", "b_StartPoint")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            系统设置<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("角色权限设置", "Index", "b_Role")</li>
                            <li>@Html.ActionLink("奖扣权限设置", "Index", "b_Reward")</li>
                            <li>@Html.ActionLink("全局参数设置", "Index", "b_Global_Config")</li>
                            <li>@Html.ActionLink("员工考勤配置", "Index", "b_Attence")</li>
                            <li>@Html.ActionLink("自定义分组", "Index", "b_Cus_Group")</li>
                            <li>@Html.ActionLink("自定义报表", "Index", "b_Cus_Report")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            功分管理<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("功分奖扣", "Index", "b_Point")</li>
                            <li>@Html.ActionLink("我的功分", "My_Points", "b_Point")</li>
                            <li>@Html.ActionLink("我的产值", "My_Values", "b_Point", new { id = 0 }, new { @class="a" })</li>
                            <li>@Html.ActionLink("我的审核", "My_Check", "b_Point")</li>
                            <li>@Html.ActionLink("个人明细查询", "My_Detail", "b_Point")</li>
                            <li>@Html.ActionLink("日常奖扣查询", "Usual_Point", "b_Point")</li>
                            <li>@Html.ActionLink("事件库管理", "Index", "b_Event_Library")</li>
                            <li>@Html.ActionLink("固定功分配置", "Index", "b_Fix_Point")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            奖扣任务 <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("奖扣任务配置", "Index", "b_Task")</li>
                            @*<li>@Html.ActionLink("奖扣任务查看", "TaskList", "Task")</li>*@
                        </ul>
                    </li>
                    @*<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            奖票管理 <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("奖票打印", "Print", "b_Lottery")</li>
                            <li>@Html.ActionLink("我的奖票", "Index", "b_Lottery")</li>
                        </ul>
                    </li>*@
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            核查结算 <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("功分核查", "Point_Check", "b_Point")</li>
                            <li>@Html.ActionLink("产值核查", "Value_Check", "b_Point")</li>
                            <li>@Html.ActionLink("考勤/固定功分计算", "Index", "b_Attence_Fix")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            统计排名 <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("产值排名报表", "Value_Order_Report", "b_Point")</li>
                            <li>@Html.ActionLink("管理人员奖扣分报表", "Manager_Reward_Report", "b_Point")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 版权信息</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
