@model IEnumerable<Bounds.Models.b_Task>

@{
    ViewBag.Title = "Index";
}

@Html.Partial("../b_User/SelUser")
@if ((Session["Author"] as int[]).Contains(100))
{
<p>
    <h5>@Html.ActionLink("新建奖罚任务", "Create")</h5>
</p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.b_Task_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.b_Task_Name)
        </td>
        <td>
@if ((Session["Author"] as int[]).Contains(101))
{
            @Html.ActionLink("编辑", "Edit", new { id = item.ID })<text> | </text>
            @Html.ActionLink("详细信息", "Index", "b_Task_Info", new { id = item.ID }, new { id = item.ID })<text> | </text>
            <a href="#" onclick="Task.BindMember(@item.ID, 'task');">成员绑定</a>
}
@if ((Session["Author"] as int[]).Contains(101))
{
            <text> | </text>@Html.ActionLink("删除", "DeleteConfirmed", new { id = item.ID }, new { onclick = "return confirm('确定删除此项？')" })
}
        </td>
    </tr>
}

</table>
