@model Bounds.Models.b_Cus_Group

@{
    ViewBag.Title = "Details";
}

<div>
    <p>
        <h5>@Html.ActionLink("返回", "Index")</h5>
    </p>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.b_Cus_Group_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.b_Cus_Group_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.b_Cus_Group_Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.b_Cus_Group_Note)
        </dd>

    </dl>
</div>

