@model IEnumerable<Bounds.Models.b_Cus_Group>

@{
    ViewBag.Title = "Index";
}

<p>
    <h5>@Html.ActionLink("新建分组", "Create")</h5>
</p>
@Html.Partial("../b_User/SelUser")
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.b_Cus_Group_Name)
        </th>
        <th>
            成员人数
        </th>
        <th>
            @Html.DisplayNameFor(model => model.b_Cus_Group_Note)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.b_Enterprise_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Updated_Time)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.b_Cus_Group_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.b_Cus_Group_Member.Count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.b_Cus_Group_Note)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.b_Enterprise_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Updated_Time)
        </td>*@
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.ID }) |
            @*@Html.ActionLink("成员绑定", "Details", new { id=item.ID }) |*@
            <a href="#" onclick="Cus_Group.BindMember(@item.ID, 'group');">成员绑定</a> |
            @Html.ActionLink("删除", "DeleteConfirmed", new { id=item.ID }, new { onclick = "return confirm('确定删除此项？')" })
        </td>
    </tr>
}

</table>
